<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/img/reza.jpg" alt="Ardan Aras" class="img-thumbnail rounded-circle" width="200" />
            <h1 class="display-4">Reza Guntara</h1>
            <p class="lead">Dapodik</p>
        </div>
    </div>
</div>